html
    include includes/head.pug    
    body
        include includes/nav.pug

        div.area.login_area
            div.dark-background
                div.container.jumbotron.hor_center.login_custom
                    h1 Error 500 - Something went wrong :(
                    p.desc Boost your confident up again by trying again and contact us if error persists again.