html
    include includes/head.pug    
    body
        include includes/nav.pug

        div.area.login_area
            div.dark-background
                div.container.jumbotron.hor_center.login_custom
                    h1 404 - Page not found

        include includes/script.pug