html
    include includes/head.pug    
    body
        include includes/nav.pug
        div.area.login_area
            div.dark-background
                div.container.jumbotron.hor_center.login_custom
                    h1 Good job!
                    p.desc You successfully registered on this awesome webpage.
                    p You can now <a href="/login">login</a>.

        include includes/script.pug